<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search books</title>
</head>
<body>

<input type="button" onclick="history.back();" value="Back"/>
<form th:method="GET" th:action="@{/books}">
	<input type="hidden" name="page" th:value="0"/>
	<input type="hidden" name="size" th:value="5"/>
	<input type="hidden" name="sort_by_year" th:value="false"/>
	<input type="submit" value="List of books"/>
</form>

<hr/>

<form th:method="GET"
	  th:action="@{/books/search}"
	  th:object="${desired_book}">
	  <label for="name">Enter book name: </label>
	  <input type="text" th:field="*{name}" id="name"/>
	  <br/>
	  <label for="author">Enter book author: </label>
	  <input type="text" th:field="*{author}" id="author">
	  <br/> 
	  <input type="submit" value="search"/>
</form>
<hr/>
<div th:if="${not #lists.isEmpty(list_of_desired_book)}" th:each="book : ${list_of_desired_book}">
	<a th:href="@{/books/{id}(id=${book.getId()})}"
		th:text="${book.getAuthor() + ', ' + book.getName()}">BOOK</a>
	<a   style="color:greenyellow"
		 th:if="${book.getOwner() == null}"
		 th:text="'FREE'">FREE</a>
	<a   style="color:red"
		 th:if="${book.getBookReturnTimeIsOverdue()}"
		 th:text="'Book is overdue!'">OVERDUE</a>
</div>
<div th:if="${#lists.isEmpty(list_of_desired_book)}">
	<a>Not found...</a>
</div>

</body>
</html>